*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: rgb(29, 26, 26);
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 85% 83%, 0 100%, 0 1%);
    clip-path: polygon(100% 0, 100% 100%, 85% 83%, 0 100%, 0 1%);
}
.container{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
h1{
   color: white;
   margin-left: 5rem;
}
span{
    color:#0097e6;
    font-size: 2rem;
}
.class-list{
    display: flex;
}
.class-list li{
   list-style: none;
   text-decoration: none;
   margin: 0rem 1.2rem;
   line-height: center;
}
.class-list li a{
    line-height: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1rem;
}
.fa-facebook{
    color: #0097e6;
    /* transform: scale(1);  */
}
.fa-twitter-square{
   color:#0097e6;
  
}
.fa-google-plus{
    color: #e84118;   
}
.fa-google-plus:hover{
    transform: translateY(0.5rem);
}
.fa-twitter-square:hover{
    transform: translateY(0.5rem);
}
.fa-facebook:hover{
    transform: translateY(0.5rem);
}

.container2{
    display: flex;
    justify-content:space-between;
    margin: 2rem 4rem;
}
img{
    height: fit-content;
    width:30rem;
    height: 25rem;
}
.right1{
    padding: 7rem 3rem;
}
h3{
    color:white;
}
.container2 .btn{
    border: 0.2rem solid #0097e6;
    border-radius: 0.5rem;
    background: transparent;
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
    position: absolute;
    margin: 3rem 5rem;
    padding: 0.5rem 0.5rem;
}
.btn:hover{
    background-color: #0097e6;
    color: whitesmoke;
    transition-duration: 1s;
}
/* ========================pag2================ */
.container3 .left2 h1{
    color:#0097e6;
    margin: 3rem 7rem;
    font-size: 5rem;
    text-shadow: 0.1rem 0.2rem 0.1rem rgb(173, 172, 172);
}
.container3 .left2 h1:hover{
    transform:scale(0.7)
    /* transition:0.3s; */
}
.container3{
    display: flex;
    margin: 3rem 4rem;
}
.container3 .left2 h4{
    margin:0rem 3rem;
}
.container3 .left2 p{
    margin:0rem 3rem;
    color:rgb(29, 26, 26);
    font-size: 1.3rem;
}
.container3 .left2 a{
    border: 2px solid #0097e6;
    position: absolute;
    padding: 0.7rem;
    margin: 1rem 9rem;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 0.6rem;
    color:white;
    background-color: #0097e6;
}
.container3 .left2 a:hover{
    color:rgb(4, 0, 255);
    background-color: white;
    transition: 0.3s;
}
 /*========== page3========================== */

 .container4{
     display: flex;
     justify-content: space-around;
 }
 .image img{
     object-fit: cover;
 }
 .container4 .right3{
     margin-top:-5rem ;
 }
 .container4 .right3 h1{
     color:black;
     margin-right:3rem;
     font-size:7rem;
     margin-top: 4rem;
 }
 .container4 .right3 span{
     margin: 0rem 0.9rem;
     font-size:7rem;
 }
 .container4 .right3 h2{
     color: grey;
     letter-spacing:4rem;
     margin-left:7rem;
 }
 .container4 .right3 .SingUp{
    border: 2px solid #0097e6;
    position: absolute;
    padding: 0.7rem;
    margin: 1rem 20rem;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 0.6rem;
    color:white;
    background-color: #0097e6;
 }
 .container4 .right3 a:hover{
    color:rgb(4, 0, 255);
    background-color: white;
    transition: 0.3s;
}
.container4 .right3{
    background-color: rgb(213, 228, 228);
    margin-top: 7rem;
}

/* ==================price tag==================== */
.pricing{
    color:#0097e6;
    text-align: center;
    font-size: 5rem;
    text-shadow: 0.1rem 0.2rem 0.1rem rgb(173, 172, 172);
}
.pricing:hover{
    transform:scale(0.7);
    text-transform: capitalize;
}
.pricing-table{
    display: flex;
    justify-content:space-between;
    background-color:  rgb(213, 228, 228)
}
.pricing-cards{
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    border: 0.1rem solid black;
}
.pricing-cards:hover{
    background-color:#0097e6;
    transition: 0.5s;
}
.span{
    color: black;
}
.pricing-cards li{
    list-style: none;
    text-decoration: none;
}
.pricing-cards .fas li span{
    font-size: 1rem;
    color: rgb(104, 104, 104);
}
.pricing-cards .fas li{
    margin-left:1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
   
}
.standard,.popular,.golden,.professional{
    margin-right: 5rem;
    margin-bottom:2rem;
    color: rgb(64, 176, 199);
}
.fa-check,.fa-times{
    margin-top: 1.2rem;
}
.buy-now{
    text-transform: uppercase;
    border: 0.1rem solid rgb(135, 175, 235);
    padding: 1rem 1rem;
    overflow:auto;
    margin:0rem 4rem;
    text-decoration:none;
    background-color: rgb(213, 228, 228);  
    color: #0097e6;
    font-weight: bolder;
    font-size: large;
}
.buy-now:hover{
    color: black;
    background-color: #0097e6;
}
.get-in-touch{
    color: black;
    text-align: center;
    margin-top: 4rem;
    font-size:2rem;
    /* margin-right: 0.4rem; */
}
.touch{
    font-size: 3rem;
    cursor: pointer;
}

h5{
    text-align: center;
    font-size: 2rem;
}
/* last page */
.feedback{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    font-weight: bold;
}
#mail{
    padding: 0.3rem 3rem 0.3rem 0rem;
}
#subject{
    padding: 0.3rem 3rem 0.3rem 0rem;
}
#message{
    padding: 0.3rem 3rem 0.3rem 0rem;
}
#send{
    text-decoration: none;
    background-color: black;
    color:white;
    padding: 0.3rem 4rem;
    margin-top: 4rem;
    margin-left: rem;
}
.contact{
    margin: 3rem 0rem ;
}

.fa-envelope-square,.fa-phone-square-alt,.fa-address-card{
    height: 2rem;
    color: #0097e6;
    size: 2rem;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    background-color: black;
    height: 3rem;
    line-height: center;
}
footer h2{
    color: white;
    line-height: center;
}
